* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    padding: 2rem;
    background: #f4f4f9;
}

.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #0066ff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

img {
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}